[Unit]
Description=react

[Service]
Type=simple
ExecStart=/home/isucon/node-v6.9.1-linux-x64/bin/node /home/isucon/webapp/react/build/server.js
Restart=always
User=isucon
Group=isucon
WorkingDirectory=/home/isucon
Environment="ISUCON_ENV=production" "NODE_ENV=production" "API=http://127.0.0.1:8080" /home/isucon/node-v6.9.1-linux-x64/bin/node /home/isucon/webapp/react/build/server.js

[Install]
WantedBy=multi-user.target
