[mysqld]
# InnoDB
log_output = TABLE

innodb_log_file_size = 128M
innodb_log_files_in_group = 2
innodb_buffer_pool_size = 2G
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0

# 名前解決
skip_name_resolve = 1

table_open_cache = 8192
max_connections = 256
thread_cache_size = 256
sort_buffer_size = 256k

# クエリキャッシュ
query_cache_size = 0
query_cache_type = 0

sort_buffer_size = 1M
read_buffer_size = 1M
myisam_sort_buffer_size = 1M

# ログ
slow_query_log = 0
slow_query_log_file = /var/lib/mysql/mysqld-slow.log
long_query_time = 0
log-queries-not-using-indexes = 1

[client]
default-character-set = utf8mb4
