[mysqld]
#
# * General
#
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
bind-address    = 0.0.0.0

#
# * Fine Tuning
#
key_buffer_size         = 16M
max_allowed_packet      = 10737418240
max_connections         = 256
myisam-recover-options  = BACKUP
table_open_cache        = 8192
table_cache             = 64
thread_cache_size       = 256
thread_concurrency      = 10
thread_stack            = 192K
skip_name_resolve       = 1
# gtid-enforce-consistency = WARN

#
# * Query Cache Configuration
#
query_cache_size  = 16M
query_cache_type  = 0
query_cache_limit = 1M
sort_buffer_size  = 1M
read_buffer_size  = 1M
# myisam_sort_buffer_size = 1M

#
# * Log Configuration
#
server-id            = 1
expire_logs_days     = 7
slow_query_log      = 0
slow_query_log_file = /var/lib/mysql/mysqld-slow.log
long_query_time     = 1
log_bin              = /var/log/mysql/mysql-bin.log
log_error           = /var/log/mysql/error.log
log_output          = TABLE
log_queries_not_using_indexes = 1
max_binlog_size   = 100M

#
# * InnoDB
#
innodb_buffer_pool_size            = 1G
# innodb_buffer_pool_load_at_startup = ON
innodb_doublewrite                 = 0
innodb_flush_method                = O_DIRECT
innodb_flush_log_at_trx_commit     = 0
innodb_log_file_size               = 128M
innodb_log_files_in_group          = 2

#
# * Security Features
#
chroot   = /var/lib/mysql/
# ssl-ca   = /etc/mysql/cacert.pem
# ssl-cert = /etc/mysql/server-cert.pem
# ssl-key  = /etc/mysql/server-key.pem

[client]
default-character-set = utf8mb4
